@import "../../vars.css";

.SongTitle {
  color: var(--text-color);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SongTitle--large {
  font-size: 14pt;
}

.SongTitle--mediaRow {
  font-size: 1em;
}

.SongTitle-title {
  color: var(--secondary-text-color);
}
