@import "../../vars.css";

@component SongTitle {
  color: var(--text-color);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @modifier large {
    font-size: 14pt;
  }
  @modifier mediaRow {
    font-size: 1em;
  }
}
