@import "../../vars.css";

.SongTitle {
  color: var(--text-color);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--large {
    font-size: 14pt;
  }
  &--mediaRow {
    font-size: 1em;
  }
}
