@import "../../vars.css";
@import "./Profile.css";
@import "./SettingsPanel.css";

@component SettingsManager {
  z-index: 10;

  @descendent body {
    overflow-y: scroll;
    background: color(var(--background-color) alpha(* 96%));
  }
}
