@import url("./ChangeUsernameButton.css");
@import url("./LanguagePicker.css");
@import url("./Links.css");
@import url("./LogoutButton.css");
@import url("./Profile.css");
@import url("./SettingControl.css");
@import url("./SettingsPanel.css");

.SettingsManager {
  z-index: 10;
  position: relative;
  height: 100%;
}

.SettingsManager-body {
  overflow-y: scroll;
  background: var(--overlay-background);
}
