@import "../../vars.css";
@import "./Profile.css";
@import "./SettingsPanel.css";

.SettingsManager {
  z-index: 10;
  position: relative;
  height: 100%;
}

.SettingsManager-body {
  overflow-y: scroll;
  background: color(var(--background-color) alpha(* 96%));
}
