.SettingsPanel-link {
  display: block;
  height: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  color: var(--text-color);

  &:visited {
    color: var(--text-color);
  }
}

.SettingsPanel-linkIcon {
  margin-inline-end: 8px;
  vertical-align: top;
}
