.SettingsPanelProfile-username {
  font-size: 120%;
  font-weight: normal;
  display: block;
  margin: 0;
}
.SettingsPanelProfile-avatar {
  width: 80px;
  height: 80px;
}

.SettingsPanelProfile-textblock {
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
}

.SettingsPanelProfile-date {
  line-height: 1.5;
  color: #aaa;
  margin: 0;
}

.SettingsPanelProfile-role {
  line-height: 1.5;
  margin: 0;
}
