.SettingsPanel {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.SettingsPanel-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.SettingsPanel-section:not(:last-child) {
  border-bottom: 1px solid var(--muted-text-color);
}

.SettingsPanel-header {
  margin: 0 0 20px;
  font-weight: 400;
}

.SettingsPanel-helpText {
  line-height: 1.5;
  color: var(--settings-help-text-color);
}

.SettingsPanel-toggle {
  margin: 0 0 20px;
}

.SettingsPanel.is-wide {
  display: block;
}

.SettingsPanel-column {
  width: 50%;
  float: inline-start;
}

.SettingsPanel-column--left {
  padding-inline-end: 50px;
}

.SettingsPanel-column--right {
  padding-inline-start: 50px;
}
