@import "../../vars.css";

.SettingsPanel {
  padding: 20px 50px;
}

.SettingsPanel-divider {
  height: 1px;
  border: none;
  background: var(--muted-text-color);
  margin: 20px 0;
}

.SettingsPanel-header {
  margin: 0 0 20px 0;
  font-weight: 400;
}

.SettingsPanel-helpText {
  line-height: 1.5;
  color: var(--settings-help-text-color);
}

.SettingsPanel-toggle {
  margin: 0 0 20px 0;
}

@media (min-width: 768px) {
  .SettingsPanel-column {
    width: 50%;
    float: left;
  }

  .SettingsPanel-column--left {
    padding-right: 50px;
  }
  .SettingsPanel-column--right {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .SettinsPanel-column--left {
    margin-bottom: 25px;
  }
}
