@import "../../vars.css";

.SettingsPanel {
  padding: 20px 50px;

  &-divider {
    height: 1px;
    border: none;
    background: var(--muted-text-color);
    margin: 20px 0;
  }

  &-header {
    margin: 0 0 20px 0;
    font-weight: 400;
  }

  &-toggle {
    margin: 0 0 20px 0;
  }

  &-column {
    width: 50%;
    float: left;

    &--left {
      padding-right: 50px;
    }
    &--right {
      padding-left: 50px;
    }
  }
}
