@import url("./UserRow.css");

.UserList {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.UserList-row {
  background: var(--user-list-color);
  height: 40px;
  position: absolute;
  top: 0;
}

.UserList-row--alternate {
  background: var(--user-list-alternate-color);
}
