@component UserRow {
  height: 40px;
  width: 100%;
  line-height: 30px;
  padding: 5px 0;
  display: block;
  text-decoration: none;

  @modifier cardable {
    cursor: pointer;
  }

  @descendent avatar {
    float: left;
    margin: 3px 10px;
  }
}
