@import "../../vars.css";

@keyframes rotate-progress-circle {
  100% { transform: rotate(360deg); }
}
@keyframes scale-progress-circle {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px;
  }
}

.MuiCircularProgress {
  display: inline-block;
  color: var(--highlight-color);
  width: 100%;
  height: 100%;
}

.MuiCircularProgress-svg {
  /* The main animation is loop 4 times. */
  animation: rotate-progress-circle 1.4s linear infinite;
}

.MuiCircularProgress-circle {
  animation: scale-progress-circle 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
  stroke: currentColor;
  stroke-linecap: round;
}
