@import "../../vars.css";

.MediaActions {
  height: 54px;
  text-align: right;
  background: var(--background-color);

  &.is-selected {
    background: var(--highlight-color);
  }

  &-action {
    height: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 6px 15px;
  }
}
