@import "../../vars.css";

@component MediaActions {
  height: 54px;
  text-align: right;
  background: $background-color;

  @when selected {
    background: $highlight-color;
  }

  @descendent action {
    height: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 6px 15px;
  }
}
