.MediaDragPreview {
  background: var(--mui-palette-primary-light);
  color: var(--mui-palette-text-primary);
  font-weight: bold;
  padding: 7px 15px 7px 20px;
  display: block;
  line-height: 24px;
}

.MediaDragPreview-icon {
  vertical-align: bottom;
  margin-right: 3px;
}
