@import "../../vars.css";

.MediaDragPreview {
  background: var(--highbright-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 7px 15px 7px 20px;
  display: block;
  line-height: 24px;
}

.MediaDragPreview-icon {
  vertical-align: bottom;
  margin-right: 3px;
}
