@import "vars.css";

@component MediaDragLayer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  @descendent preview {
    background: $highbright-color;
    color: $text-color;
    font-weight: bold;
    padding: 7px 15px 7px 20px;
    display: block;
    line-height: 24px;
  }
}
