:root {
  --media-row-height: 56px;
  --media-row-thumb-width: 55px;
  --media-row-duration-width: 70px;
  --media-row-icon-width: 50px;
  --unpadded-media-row-height: calc(var(--media-row-height) - 14px);
}

.MediaListRow {
  display: grid;
  grid-template-columns: var(--media-row-thumb-width) auto var(--media-row-duration-width) var(--media-row-icon-width);
  grid-template-rows: var(--media-row-height);
  grid-gap: 15px;
  padding: 0 15px;
  height: var(--media-row-height);
  line-height: var(--media-row-height);
  position: relative;
  background: var(--media-list-color);
  border-bottom: 1px solid var(--divider-color);

  &.is-loading {
    opacity: 0.75;
  }

  &.is-selected {
    background: var(--selected-media-row-color);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--highlight-color);
    outline: none;
  }
}

.MediaListRow-thumb {
  height: 100%;
  padding: 7px 0;
}

.MediaListRow-image {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.MediaListRow-data {
  padding: 7px 0;
  line-height: var(--unpadded-media-row-height);
}

.MediaListRow-artist {
  height: 100%;
  float: inline-start;
  width: calc(40% - var(--media-list-spacing));
  margin-inline-end: var(--media-list-spacing);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MediaListRow-title {
  height: 100%;
  float: inline-start;
  width: calc(60% - var(--media-list-spacing));
  margin-inline-end: var(--media-list-spacing);
  overflow: hidden;
  color: var(--secondary-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MediaListRow-note {
  height: calc(var(--unpadded-media-row-height) / 3);
  line-height: calc(var(--unpadded-media-row-height) / 3);
  width: calc(100% - var(--media-list-spacing));
  margin-inline-end: var(--media-list-spacing);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 75%;
}

.MediaListRow-duration {
  height: 100%;
}

.MediaListRow-icon {
  height: 100%;
  display: flex;
  align-items: center;
}

.MediaListRow-actions {
  height: 100%;
  position: absolute;
  inset-inline-end: 0;
  display: none;
}

.MediaListRow:hover .MediaListRow-actions,
.MediaListRow:focus .MediaListRow-actions,
.MediaListRow:focus-within .MediaListRow-actions {
  display: block;
}

.MediaListRow.is-selected .MediaListRow-actions {
  background: var(--highlight-color);
}
