:root {
  --media-list-row-height: 56px;
  --media-list-row-icon-offset: 8px;
  --unpadded-media-list-row-height: calc(var(--media-list-row-height) - 14px);
}

.MediaListRow {
  height: var(--media-list-row-height);
  line-height: var(--media-list-row-height);
  position: relative;
  background: var(--media-list-color);
  border-bottom: 1px solid var(--divider-color);

  &.is-loading {
    opacity: 0.75;
  }

  &.is-selected {
    background: var(--selected-media-row-color);
  }
}

.MediaListRow-loader {
  margin: 0 15px;
}

.MediaListRow-thumb {
  height: 100%;
  width: 55px;
  margin: 0 15px;
  padding: 7px 0;
  float: inline-start;
}

.MediaListRow-image {
  max-width: 100%;
  max-height: 100%;
}

.MediaListRow-data {
  height: 100%;
  padding: 7px 0;
  line-height: var(--unpadded-media-list-row-height);
  width: calc(100% - var(--media-list-spacing) - var(--media-list-thumb-width) - var(--media-list-row-icon-offset) - var(--media-list-duration-width));
  float: inline-start;
}

.MediaListRow-artist {
  height: 100%;
  float: inline-start;
  width: calc(40% - var(--media-list-spacing));
  margin-inline-end: var(--media-list-spacing);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MediaListRow-title {
  height: 100%;
  float: inline-start;
  width: calc(60% - var(--media-list-spacing));
  margin-inline-end: var(--media-list-spacing);
  overflow: hidden;
  color: var(--secondary-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MediaListRow-note {
  height: calc(var(--unpadded-media-list-row-height) / 3);
  line-height: calc(var(--unpadded-media-list-row-height) / 3);
  width: calc(100% - var(--media-list-spacing));
  margin-inline-end: var(--media-list-spacing);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 75%;
}

.MediaListRow-data.has-note .MediaListRow-artist,
.MediaListRow-data.has-note .MediaListRow-title {
  height: calc(var(--unpadded-media-list-row-height) / 3 * 2);
  line-height: calc(var(--unpadded-media-list-row-height) / 3 * 2);
}

.MediaListRow-duration {
  height: 100%;
  float: inline-start;
  width: var(--media-list-duration-width);
}

.MediaListRow-icon {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.MediaListRow-actions {
  height: 100%;
  position: absolute;
  inset-inline-end: 0;
  display: none;
}

.MediaListRow:hover .MediaListRow-actions {
  display: block;
}

.MediaListRow:hover .MediaListRow-icon {
  display: none;
}
