@import url("normalize.css");
@import url("@openfonts/open-sans_all");
@import url("../vars.css");
@import url("../components/App/index.css");
@import url("../components/Form/index.css");
@import url("./components/PasswordResetPage/index.css");

body {
  margin: 0;
}

#app {
  background: var(--background-color);
  position: fixed;
  inset: 0;
  overflow-y: scroll;
  padding-top: 20px;
}
