@import "./Overlays.css";

.MobileApp {
  &-video {
    height: 56px;
    position: relative;
  }

  &-chat {
    height: calc(100% - 56px);
    position: relative;
  }

  &--videoEnabled &-video {
    height: 40%;
  }
  &--videoEnabled &-chat {
    height: 60%;
  }
}
