@import "./Overlays.css";

.MobileApp-video {
  height: 56px;
  position: relative;
}

.MobileApp--videoEnabled .MobileApp-video {
  height: 40%;
}

.MobileApp-chat {
  height: calc(100% - 56px);
  position: relative;
}

.MobileApp--videoEnabled .MobileApp-chat {
  height: 60%;
}
