{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-export-extensions"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
