{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "rules": {
    "array-bracket-spacing": [ "error", "always" ],
    "comma-dangle": [ "error", "never" ],
    "indent": [ "error", 2, { "SwitchCase": 0 } ],
    "new-cap": [ "error", {
      "capIsNewExceptions": [ "DragDropContext", "DragSource", "DropTarget", "DragLayer", "ThemeDecorator" ]
    } ],
    "no-underscore-dangle": "off",
    "global-require": "off"
  }
}
