@import "../../vars.css";

.ChatMessages {
  height: 100%;
  overflow-y: scroll;
  font-size: 10pt;
  /* Fix for tooltips close to the edge. The tooltips themselves work fine,
   * but the element that's used to position the tooltips correctly can overflow
   * by a few pixels.
   * TODO fix that^ in src/components/Tooltip. Should resize(?) the positioning
   * wrapper if it's close to the edge of the screen. */
  overflow-x: hidden;

  /* Add alternating background colours for child messages. */
  /* Some messages are wrapped in additional elements, eg. to align User cards,
   * so we need both these selectors here. */
  & > .ChatMessage:nth-child(2n),
  & > :nth-child(2n) .ChatMessage {
    background: var(--chat-background-color2);

    & .ChatMessage-hover {
      background: var(--chat-background-color2);
    }
  }
}

.ChatMessages-scrollDown {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 55px;
  pointer-events: none;
  overflow: hidden;
}

.ChatMessages-scrollDownButton {
  pointer-events: all;
  transition: margin-top 140ms ease-in;
  margin: auto;
  margin-top: 55px;
  @nest .ChatMessages-scrollDown.is-visible & {
    transition: margin-top 140ms ease-out;
    margin-top: 0;
  }
}
