@import url("./ChatMessages.css");
@import url("./Input.css");
@import url("./Markup.css");
@import url("./NotificationMessages/index.css");
@import url("./LogMessage.css");
@import url("./Message.css");
@import url("./Motd.css");

.ChatContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.ChatContainer-messages {
  position: absolute;
  top: 0;
  bottom: var(--footer-height);
  width: 100%;
}

.ChatContainer-input {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
}
