@import "./ChatMessages.css";
@import "./Input/index.css";
@import "./Markup/index.css";
@import "./NotificationMessages/index.css";
@import "./LogMessage.css";
@import "./Message.css";
@import "./Motd.css";

.ChatContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.ChatContainer-messages {
  position: absolute;
  top: 0;
  bottom: var(--footer-height);
  width: 100%;
}

.ChatContainer-input {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  width: 100%;
}
