@import "../../vars.css";

@component ChatInputWrapper {
  background: $chat-background-color;
  border-top: 1px solid $chat-border-color;
}

@component ChatInput {
  height: 100%;
  width: 100%;

  @descendent input {
    margin: 15px 15px 16px 15px;
    height: 28px;
    width: calc(100% - 32px);
    padding: 0 6px;
    border: 1px solid $chat-border-color;
    background: #222222;
    color: $text-color;
    font-size: 10pt;

    @when focused {
      border-color: $highbright-color;
      outline: none;
    }
  }
}
