@import "vars.css";

@component ChatInputWrapper {
  background: $chat-background-color;
  border-top: 1px solid $chat-border-color;
}

@component ChatInput {
  height: 100%;
  width: 100%;

  @descendent input {
    margin: 7px 0px 0px 15px;
    height: 28px;
    width: 100%;
    padding: 0 6px;
    border: 0px solid $chat-border-color;
    background: #222222;
    color: white;
    font-size: 5pt;

    @when focused {
      border-color: #9d2053;
      outline: none;
    }
  }
}
