/* Message styles are still super hacky...
 * One day! */
.ChatMessage {
  min-height: 32px;
  position: relative;
}

.ChatMessage--mention {
  box-shadow: 5px 0 0 var(--mui-palette-primary-main) inset;
}

.ChatMessage-hover {
  background: var(--mui-palette-background-default);
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  padding: 0 6px;
  display: none;
  font-size: 80%;
  z-index: 2;
}

.ChatMessage:hover .ChatMessage-hover {
  display: block;
}

.ChatMessage-delete {
  cursor: pointer;
  color: #b00;
}

.ChatMessage-timestamp {
  color: var(--chat-timestamp-text-color);
}

.ChatMessage-avatar {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  inset-inline-start: 12px;
  margin: 4px 0;
}

.ChatMessage-content {
  position: relative;
  padding-inline-start: 50px;
  padding-inline-end: 3px;
  width: 100%;
  display: inline-block;
  margin: 6px 0;
  word-wrap: break-word;
}

.ChatMessage-cardable {
  cursor: pointer;
  padding: 0;
}

.ChatMessage-username {
  color: #9ba0a0;
  font-weight: 600;
}

.ChatMessage-text {
  margin-inline-start: 5px;
}

.ChatMessage--loading {
  opacity: 0.7;
}

.ChatMention {
  color: var(--mui-palette-primary-main);
}
