/* Message styles are still super hacky...
 * One day! */
.ChatMessage {
  min-height: 2rem;
  font-size: .875rem;
  position: relative;
}

.ChatMessage--mention {
  box-shadow: 5px 0 0 var(--highlight-color) inset;
}

.ChatMessage-hover {
  background: var(--background-color);
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  padding: 0 6px;
  display: none;
  font-size: 80%;
  z-index: 2;
}

.ChatMessage:hover .ChatMessage-hover {
  display: block;
}

.ChatMessage-delete {
  cursor: pointer;
  color: #b00;
}

.ChatMessage-timestamp {
  color: var(--chat-timestamp-text-color);
}

.ChatMessage-avatar {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  inset-inline-start: 12px;
  margin: .25rem 0;
}

.ChatMessage-content {
  position: relative;
  padding-inline-start: 48px;
  padding-inline-end: 3px;
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
  margin: .25rem 0;
  line-height: 1.25rem;
  min-height: 1.5rem;
}

.ChatMessage-cardable {
  cursor: pointer;
  padding: 0;
}

.ChatMessage-username {
  color: #9ba0a0;
  font-weight: 600;
}

.ChatMessage-text {
  margin-inline-start: 5px;
}

.ChatMessage--loading {
  opacity: 0.7;
}

.ChatMention {
  color: var(--highlight-color);
}
