@import "../../vars.css";

/* Message styles are still super hacky...
 * One day! */
@component ChatMessage {
  background: $chat-background-color;
  min-height: 32px;
  position: relative;

  @modifier alternate {
    background: $chat-background-color2;
    .ChatMessage-timestamp {
      background: $chat-background-color2;
    }
  }

  @modifier mention {
    box-shadow: 5px 0px 0px $highlight-color inset;
  }

  @descendent timestamp {
    background: $chat-background-color;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 6px;
    display: none;
    font-size: 80%;
    color: color($text-color blend(#777777 33%));
  }
  &:hover .ChatMessage-timestamp {
    display: block;
  }

  @descendent avatar {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 12px;
    margin: 4px 0;
  }

  @descendent content {
    position: relative;
    padding-left: 50px;
    padding-right: 3px;
    width: 100%;
    display: inline-block;
    margin: 6px 0;
    word-wrap: break-word;
  }

  @descendent cardable {
    cursor: pointer;
    padding: 0;
  }

  @descendent username {
    color: #9ba0a0;
    font-weight: 600;
  }

  @descendent text {
    margin-left: 5px;
  }

  @modifier loading {
    opacity: 0.7;
  }
}

@component ChatMention {
  color: $highlight-color;
}
