@import "vars.css";

@component PlaylistMenuRow {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  cursor: pointer;

  @descendent active-icon {
    display: block;
    float: left;
    height: 44px;
    margin-right: 7px;
    padding-top: 5px;
    box-sizing: border-box;
  }

  @descendent loading {
    width: 24px;
    height: 24px;
    float: left;
    margin: 10px 7px 10px 0;
  }

  @descendent count {
    float: right;
    color: $highlight-color;
    margin-right: 5px;
  }

  @modifier create {
    background-color: $highlight-color;
  }

  @when selected {
    background: $media-list-alternate-color;
  }
}
