@import "../../../vars.css";

.PlaylistMenuRow {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  cursor: pointer;
  width: 100%;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-active-icon {
    display: block;
    float: left;
    height: 44px;
    margin-right: 7px;
    padding-top: 5px;
  }

  &-loading {
    width: 24px;
    height: 24px;
    float: left;
    margin: 10px 7px 10px 0;
  }

  &-title {
    align-self: flex-start;
    /* dot dot dot */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-count {
    align-self: flex-end;
    color: var(--highlight-color);
    margin-right: 5px;
  }

  &--create {
    background-color: var(--highlight-color);
  }

  &.is-selected {
    background: var(--media-list-alternate-color);
  }
  &.is-droppable {
    background: var(--media-list-alternate-color);
  }
}
