.header-bar {
  background: #151515;
  color: #eee;
}

.title {
  margin: 0;
  line-height: 50px;
  background-image: url(https://i.imgur.com/nb8ibxk.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: auto 30px;
  font-size: 0;
}
