@import "../../vars.css";

.Button {
  width: 100%;
  height: var(--forms-textfield-size);
  cursor: pointer;

  background: var(--highlight-color);
  border: 1px solid color(var(--highlight-color) blend(black 10%));
  border-bottom-color: color(var(--highlight-color) blend(white 5%));
  border-right-color: color(var(--highlight-color) blend(white 5%));

  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 12pt;
  transition: opacity 150ms;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.Button-loading {
  width: calc(var(--forms-textfield-size) * 0.8);
  height: calc(var(--forms-textfield-size) * 0.8);
  margin: auto;
}
