@import "vars.css";

@component Button {
  width: 100%;
  height: $forms-textfield-size;
  cursor: pointer;

  background: $highlight-color;
  border: 1px solid color($highlight-color blend(black 10%));
  border-bottom-color: color($highlight-color blend(white 5%));
  border-right-color: color($highlight-color blend(white 5%));

  color: $text-color;
  text-transform: uppercase;
  font-size: 12pt;

  @descendent loading {
    width: calc($forms-textfield-size * 0.8);
    height: calc($forms-textfield-size * 0.8);
    margin: auto;
  }
}
