@import "vars.css";

@component Button {
  background: #b20062;
  height: $forms-textfield-size;
  color: #fff;
  border: 1px solid #9f0059;
  border-top-color: #c1427b;
  border-right-color: #c1427b;
  width: 100%;
  cursor: pointer;
  font-size: 12pt;

  @descendent loading {
    width: calc($forms-textfield-size * 0.8);
    height: calc($forms-textfield-size * 0.8);
    margin: auto;
  }
}
