@import "../../vars.css";
@import "./Button.css";
@import "./TextField.css";

@component FormGroup {
  margin: var(--forms-element-margin) 0;
  width: 100%;
  clear: both;

  &:first-child {
    margin-top: 0;
  }

  @modifier noSpacing {
    margin: 0;
  }
}
