@import "../../vars.css";
@import "./Button.css";
@import "./TextField.css";

.FormGroup {
  margin: var(--forms-element-margin) 0;
  width: 100%;
  clear: both;

  &:first-child {
    margin-top: 0;
  }
}

.FormGroup--noSpacing {
  margin: 0;
}
