@import "../../vars.css";

$canvas-color: map(theme, palette, canvasColor);

@component TextField {
  background: color($canvas-color blend(white 5%));
  border: 1px solid color($canvas-color blend(black 10%));
  border-top-color: color($canvas-color blend(black 5%));
  border-right-color: color($canvas-color blend(black 5%));
  height: $forms-textfield-size;
  font-size: 12pt;

  @descendent input {
    width: 100%;
    border: 0;
    height: 100%;
    background: transparent;
    line-height: $forms-textfield-size;
    display: block;
    float: left;
    padding: 0 $forms-element-margin;
    padding-right: $forms-textfield-size;
    font-size: 12pt;
    color: $text-color;

    &::placeholder {
      color: color($text-color saturation(- 10%));
    }
  }

  @descendent icon {
    width: $forms-textfield-size;
    height: $forms-textfield-size;
    margin-left: -$forms-textfield-size;
    padding: 13px;
    display: block;
    float: left;
    text-align: center;
  }
}
