.AdminUserHeader {
  background: var(--mui-palette-primary-main);
  padding: 12px 24px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AdminUserHeader-filter {
  background: #631032;
  color: #fff;
  border: 0;
  margin-left: 12px;
  padding-left: 12px;
  height: 35px;
}
