.AdminUserRow {
  background-color: var(--mui-palette-background-default);

  &:nth-child(2n) {
    background-color: #242424;
  }
}

.AdminUserRow-cell {
  border-bottom: 0 none;
  font-size: 12pt;
  padding-right: 16px;
}

.AdminUserRow-avatar {
  width: 48px;
  padding-right: 0;
}
