@import "vars.css";

@component SoundCloudSongInfo {
  @descendent link {
    font: 14pt;
    color: $text-color;
    display: block;
    height: 25px;
    @modifier track {
      font-weight: bold;
    }

    &:visited {
      color: $text-color;
    }
  }
}
