.Emoji {
  /* Same size as the surrounding text */
  height: 1.3em;
  width: 1.3em;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

.Emoji-img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
