.Emoji {
  /* Same size as the surrounding text */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

.Emoji-img {
  max-width: 100%;
  max-height: 10em;
  vertical-align: middle;
}
