@import "../../vars.css";

.AvatarDialog-preview {
  width: 96px;
  height: 96px;
  padding: 0;
  margin: 8px;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.AvatarDialog-preview.is-selected {
  box-shadow: 0 0 3px 3px var(--highlight-color);
}

.AvatarDialog-helpText {
  line-height: 1.5;
  color: var(--settings-help-text-color);
}
