.SourcePickerElement {
  width: 100%;
  height: 36px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &--active {
    width: 48px;
    float: left;
  }
}
