@import "./SourcePickerElement.css";

:root {
  --source-picker-width: calc(48px + 24px);
}

@component SourcePicker {
  width: var(--source-picker-width);

  @descendent active {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  @descendent list {
    width: var(--source-picker-width);
  }

  @descendent item {
    cursor: pointer;
    width: 100%;
    padding: 5px;
  }
}
