@import "./SourcePickerElement.css";

:root {
  --source-picker-width: calc(48px + 24px);
}

.SourcePicker {
  width: var(--source-picker-width);

  &-active {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &-list {
    width: var(--source-picker-width);
  }

  &-item {
    cursor: pointer;
    width: 100%;
    padding: 5px;
  }
}
