.UserRow-votes {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 4px;
}

.UserRow-voteIcon {
  margin: 0 4px;
}

.UserRow-voteIcon--favorite {
  color: var(--highlight-color);
}
.UserRow-voteIcon--downvote {
  color: #b64b4b;
}
.UserRow-voteIcon--upvote {
  color: #4bb64b;
}
