@import "../../../vars.css";

.Chapters-placeholder {
  color: var(--muted-text-color);
}

.ChapterItem {
  /* Push the duration to the edge */
  justify-content: space-between;
}

.ChapterItem-duration {
  color: var(--muted-text-color);
  margin-right: 5px;
  margin-left: 7px;
}
