@import "../../../vars.css";

@component EditMediaDialog {
}

@component EditMediaDialogForm {
  display: flex;
  justify-content: space-between;
  @descendent column {
    width: 50%;
  }
  @descendent separator {
    /* Pushes columns to the side! */
  }
}

@component EditMediaDialogGroup {
  display: flex;
  justify-content: center;

  @descendent field {
    flex-grow: 1;
  }

  @descendent label {
    line-height: 50px;
    white-space: nowrap;
    padding: 0 20px;
  }
}
