@import "vars.css";

@component AudienceResponse {
  height: 100%;
  width: 100%;
  padding-right: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@component ResponseButton {
  height: 100%;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.334;
  padding: 0 15px;

  &:hover {
    background-color: $background-hover-color;
  }
}
