/*
 * Styles are from:
 * https://github.com/mui/material-ui/blob/ba12a4c9365051da8673a1b949c306ae2a77f138/packages/mui-material/src/Switch/Switch.js
 */

input.Switch[type="checkbox"] {
  appearance: none;
  display: inline-flex;
  width: 58px;
  height: 38px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  /* Track */
  &::before {
    content: ' ';
    width: 34px;
    height: 14px;
    position: absolute;
    border-radius: 7px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #fff;
    opacity: 30%;
  }

  &:checked::before {
    background: var(--mui-palette-primary-main);
    opacity: 50%;
  }

  /* Thumb */
  &::after {
    content: ' ';
    box-shadow: var(--mui-shadows-1);
    background-color: currentColor;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -3px;

    color: var(--mui-palette-Switch-defaultColor);
    transform: translateX(0px);
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:checked::after {
    color: var(--mui-palette-primary-main);
    transform: translateX(16px);
  }

  /* Draw a hover ring; :where to lower specificity */
  &:where(:not(:checked)):hover::after {
    outline: 9px solid rgb(from currentColor r g b / calc(var(--mui-palette-action-hoverOpacity)));
  }

  /* Draw a keyboard focus ring on the thumb */
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::after {
    outline: 9px solid rgb(from currentColor r g b / 30%);
  }
}
