@import "../../vars.css";
@import "./Row.css";

.RoomHistory {
  z-index: 10;
}

.RoomHistory-body {
  background: color(var(--background-color) alpha(* 96%));
}

.RoomHistory-list {
  max-height: 100%;
}
