:root {
  --history-row-user-width: 115px;
  --history-row-time-width: 155px;
  --history-row-votes-width: 220px;
}

.HistoryRow {
  grid-template-columns:
    var(--media-row-thumb-width)
    auto
    var(--history-row-votes-width)
    var(--history-row-user-width)
    var(--history-row-time-width)
    var(--media-row-icon-width);
}

.HistoryRow-song {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HistoryRow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HistoryRow-user {
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HistoryRow-time {
  text-align: end;
  color: var(--muted-text-color);
}
