@import url("./Header/index.css");
@import url("./Import/index.css");
@import url("./Menu/index.css");
@import url("./NoPlaylists/index.css");
@import url("./Panel/index.css");
@import url("./SearchResults/index.css");

.PlaylistManager {
  z-index: 10;
  position: relative;
  height: 100%;
}

.PlaylistManager-menu {
  width: 33%; /* 25% of total screen width */
  float: inline-start;
}

.PlaylistManager-panel {
  position: absolute;
  inset-inline-start: 33%;
  inset-inline-end: 0;
  height: 100%;
}

/* menu would be larger than 300px */
@media (width >= 1200px) {
  .PlaylistManager-menu {
    width: 300px;
  }

  .PlaylistManager-panel {
    inset-inline-start: 300px;
  }
}
