@import "./Header/index.css";
@import "./Import/index.css";
@import "./Menu/index.css";
@import "./Panel/index.css";

.PlaylistManager {
  z-index: 10;

  &-menu {
    width: 33%; /* 25% of total screen width */
    float: left;

    /* menu would be larger than 300px */
    @media (min-width: 1200px) {
      width: 300px;
    }
  }
  &-panel {
    position: absolute;
    left: 33%;
    right: 0;
    height: 100%;

    /* menu would be larger than 300px */
    @media (min-width: 1200px) {
      left: 300px;
    }
  }
}
