@import "../../vars.css";

.LoadingScreen {
  background: var(--background-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoadingScreen-loader {
  height: 250px;
  width: 250px;
  height: 50vmin;
  width: 50vmin;
}

.LoadingScreen-notice {
  color: var(--text-color);
}
