:root {
  --recaptcha-iframe-height: 78px;
}

@component ReCaptcha {
  @descendent spinner {
    width: var(--recaptcha-iframe-height);
    height: var(--recaptcha-iframe-height);
    margin: auto;
  }
}
