@import url("./Meta.css");
@import url("./PlaylistEmpty.css");
@import url("./PlaylistFilter.css");
@import url("./PlaylistItemRow.css");

.PlaylistPanel {
  background: var(--overlay-background);
  height: 100%;
  width: 100%;
}

.PlaylistPanel-loading {
  margin: auto;
  width: 25%;
}

.PlaylistPanel-media {
  height: calc(100% - 54px);
}

.PlaylistPanel--empty {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.PlaylistPanel-emptyIcon {
  color: var(--muted-text-color);
}

.PlaylistPanel-create {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row;
  width: 100%;
}

.PlaylistPanel-button,
.PlaylistPanel--empty .ImportSourceBlock {
  padding: 16px;
  width: auto;
  flex-grow: 1;
  flex-basis: 0;
}
