@import "../../../vars.css";
@import "./Meta.css";
@import "./PlaylistFilter.css";
@import "./SearchResults.css";
@import "./PlaylistItemRow.css";

.PlaylistPanel {
  background: color(var(--background-color) alpha(* 96%));
  height: 100%;
  width: 100%;
}

.PlaylistPanel-loading {
  margin: auto;
  width: 25%;
}

.PlaylistPanel-media {
  height: calc(100% - 54px);
}

.PlaylistPanel--empty {
  padding: 16px;
}
