@import "../../../vars.css";
@import "./Meta.css";
@import "./PlaylistFilter.css";
@import "./SearchResults.css";
@import "./PlaylistItemRow.css";

.PlaylistPanel {
  background: color(var(--background-color) alpha(* 96%));
  height: 100%;
  width: 100%;

  &-loading {
    margin: auto;
    width: 25%;
  }

  &-media {
    height: calc(100% - 54px);
  }

  &--empty {
    padding: 16px;
  }
}
