.PlaylistMeta {
  height: 54px;
  line-height: 54px;
  font-size: 14pt;
  display: flex;
  justify-content: space-between;
}

.PlaylistMeta-name {
  flex-grow: 1;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.PlaylistMeta-active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  height: 100%;
}

.PlaylistMeta-iconButton {
  color: #555;
  &:hover {
    color: #fff;
  }
}
