@import "../../../vars.css";

@component PlaylistMediaFilter {
  @descendent input {
    width: 180px;
    border-radius: 2px;
    background: #252727;
    border: 1px solid #252727;
    font-size: 12pt;
    padding: 0 8px;
    height: 36px;
    display: block;
    margin-top: calc((54px - 36px) / 2);

    &:focus {
      outline: none;
      border: 1px solid $highlight-color;
    }
  }
}
