.SearchResults-query {
  height: 54px;
  line-height: 54px;
  font-size: 14pt;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SearchResults-none {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 54px);
}

.SearchResults-noneIcon {
  width: 240px;
  height: 240px;
  max-height: 50%;
  color: rgba(255, 255, 255, 0.2);
}

.SearchResults-noneHeader {
  font-weight: bold;
}
