*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Custom scrollbars for Firefox: */
html {
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-width: 7px;
}

/* Custom scrollbars for Chrome: */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

:focus {
  outline-color: var(--highlight-color);
}

body {
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);

  &:visited {
    color: var(--link-visited-color);
  }
}

/* make sure interactive elements also use our usual fonts */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

/* utility classes */

/* hide element only if the text direction is right-to-left */
html[dir="rtl"] .u-rtl-hidden {
  display: none;
}

/* show element only if the text direction is right-to-left */
html:not([dir="rtl"]) .u-rtl-only {
  display: none;
}

/* the actual app component */

.App {
  display: flex;
  width: 100%;
  height: 100vh;
}

.App-middle {
  flex-grow: 1;
}

.AppColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.AppColumn--full {
  width: 100%;
}

.AppColumn--left {
  width: 75%;
}

.AppColumn--right {
  width: 25%;
}

.AppRow {
  width: 100%;
}

.AppRow--top {
  height: var(--header-height);
}

.AppRow--middle {
  flex-basis: 0;
  flex-grow: 1;
}

.AppRow--bottom {
  height: var(--footer-height);
}

/* Make App-level overlays fit in an AppColumn--left */
@media (min-width: 769px) {
  .Overlays .Overlay {
    width: 75%;
  }
}
