@import "normalize.css";
@import "vars.css";

*, *::after, *::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
}

a {
  color: #9d2053;
}
a:visited {
  color: #633246;
}

@component App {
  font-family: Open Sans, sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: $background-color;
  color: $text-color;

  @descendent middle {
    position: absolute;
    top: $header-height;
    bottom: $footer-height;
    left: 0;
    right: 0;
  }
}

@component AppColumn {
  overflow: hidden;
  position: absolute;
  height: 100%;

  @modifier full {
    width: 100%;
  }
  @modifier left {
    width: 75%;
    left: 0;
  }
  @modifier right {
    width: 25%;
    right: 0;
  }
}

@component AppRow {
  position: absolute;
  left: 0;
  right: 0;
  clear: both;

  @modifier top {
    height: $header-height;
    top: 0;
  }
  @modifier middle {
    top: $header-height;
    bottom: $footer-height;
  }
  @modifier bottom {
    height: $footer-height;
    bottom: 0;
  }
}
