@import "../../vars.css";

*, *::after, *::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

:focus {
  outline-color: var(--highlight-color);
}

a {
  color: var(--link-color);
  &:visited {
    color: var(--link-visited-color);
  }
}

/* make sure interactive elements also use our usual fonts */
button, input, optgroup, select, textarea {
  font: inherit;
}

.App {
  font-family: Open Sans, sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--background-color);
  color: var(--text-color);
}

.App-middle {
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0;
  right: 0;
}

.AppColumn {
  position: absolute;
  height: 100%;
}
.AppColumn--full {
  width: 100%;
}
.AppColumn--left {
  width: 75%;
  left: 0;
}
.AppColumn--right {
  width: 25%;
  right: 0;
}

.AppRow {
  position: absolute;
  left: 0;
  right: 0;
  clear: both;
}
.AppRow--top {
  height: var(--header-height);
  top: 0;
}
.AppRow--middle {
  top: var(--header-height);
  bottom: var(--footer-height);
}
.AppRow--bottom {
  height: var(--footer-height);
  bottom: 0;
}
