@import "../../vars.css";

.AppTitle {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.AppTitle-logo {
  line-height: var(--header-height);
  height: var(--header-height);
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 0;
  flex-grow: 2;
}

.AppTitle-logoImage {
  max-height: 100%;
  max-width: 100%;
}

.AppTitle-button {}

.AppTitle--hasAboutPage {
  padding-right: 0;
}
