@import "../../vars.css";

.AppTitle {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.AppTitle-logo {
  line-height: calc(var(--header-height) - 20px);
  height: calc(var(--header-height) - 20px);
  display: flex;
  align-items: center;
  margin: 10px 0 10px 10px;
  font-size: 0;
  flex-grow: 2;
}

.AppTitle-logoImage {
  max-height: 100%;
  max-width: 100%;
}

.AppTitle-button {
  color: var(--text-color);
}
