@import "../../vars.css";
@import "./HeaderHistoryButton.css";
@import "./Progress.css";
@import "./Volume.css";

@component HeaderBar {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4; /* below overlays, above video */

  @descendent title {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    margin: 0;
    line-height: var(--header-height);
    height: var(--header-height);
    background-image: url(assets/img/logo-white.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: auto 36px;
    font-size: 0;
  }

  @descendent volume {
    position: absolute;
    right: var(--header-height);
    top: 0;
    width: 200px;
    padding: 15px;
  }

  @descendent history {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--header-height);
    background: #111;
  }

  @descendent now-playing {
    position: absolute;
    top: 5px;
    left: 250px;
    right: calc(200px + var(--header-height));
    line-height: 25px;
  }

  @descendent dj {
    position: absolute;
    top: 30px;
    left: 250px;
    right: 200px;
    font-size: 80%;
    color: var(--muted-text-color);
  }

  @descendent progress {
    position: absolute;
    bottom: 1px;
    height: 2px;
    width: 100%;
    /* show above the history button background fill colour,
     * but below the history icon and tooltip */
    z-index: 6;
  }
}
