@import "../../vars.css";

@component Progress {
  @descendent fill {
    background: var(--highlight-color);
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 1s linear;
  }
}
