@import "../../../vars.css";

.ChatInputWrapper {
  background: var(--chat-background-color);
  border-top: 1px solid var(--chat-border-color);
}

.ChatInput {
  height: 100%;
  width: 100%;

  &-suggestions {
    position: absolute;
    bottom: 100%;
    width: 100%;
  }

  &-input {
    margin: 15px 15px 16px 15px;
    height: 28px;
    width: calc(100% - 32px);
    padding: 0 6px;
    border: 1px solid var(--chat-border-color);
    background: #222222;
    color: var(--text-color);
    font-size: 10pt;

    &.is-focused {
      border-color: var(--highlight-color);
      outline: none;
    }
  }
}
