@import url("./EmojiSuggestion.css");
@import url("./Suggestion.css");

.ChatInputWrapper {
  background: var(--chat-background-color);
}

.ChatInput {
  font-size: .875rem;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  justify-content: stretch;
}

/* Awkward wrapper */
.ChatInput > span {
  width: 100%;
}

.ChatInput-suggestions {
  position: absolute;
  bottom: 100%;
  inset-inline: 0;
}

.ChatInput-input {
  height: 2rem;
  padding: 0 .5rem;
  border: 1px solid var(--chat-border-color);
  background: #222;
  color: var(--text-color);
  font-size: .875rem;
  width: 100%;
}

.ChatInput-input.is-focused {
  border-color: var(--highlight-color);
  outline: none;
}
