.SuggestionItem {
  display: grid;
  grid-template-areas: "icon label";
  grid-template-columns: 24px 1fr;
  width: 100%;
  cursor: pointer;
  gap: 1rem;
  padding: .75rem 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.SuggestionItem:where(:hover, .is-focused) {
  background-color: var(--chat-suggestion-selected);
}

.SuggestionItem-icon {
  grid-area: icon;
}
.SuggestionItem-label {
  grid-area: label;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
