@import "../../vars.css";

:root {
  --sc-margins: 20px;
}

.src-soundcloud-Player {
  width: 400px;
  margin: auto;
  height: 300px;
  background: var(--background-color);

  &-meta {
    background: color(var(--background-color) alpha(* 20%));
    position: relative;
    padding: var(--sc-margins);
    z-index: 3;
  }

  &-info {
    margin-bottom: var(--sc-margins);
  }

  &-art {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: var(--sc-margins);
    float: left;
  }

  &-permalink {
    display: block;
    font: 14pt;
    color: var(--text-color);
    text-align: right;
    text-decoration: none;
  }
}
