@import "../../vars.css";

.src-soundcloud-SongInfo {
  &-link {
    font: 14pt;
    color: var(--text-color);
    display: block;
    height: 25px;
    &--track {
      font-weight: bold;
    }

    &:visited {
      color: var(--text-color);
    }
  }
}
