@import "../../vars.css";

@component-namespace src-soundcloud {
  @component SongInfo {
    @descendent link {
      font: 14pt;
      color: var(--text-color);
      display: block;
      height: 25px;
      @modifier track {
        font-weight: bold;
      }

      &:visited {
        color: var(--text-color);
      }
    }
  }
}
