@import "../../vars.css";

.src-soundcloud-SongInfo-link {
  font: 14pt;
  color: var(--text-color);
  display: block;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:visited {
    color: var(--text-color);
  }
}

.src-soundcloud-SongInfo-link--track {
  font-weight: bold;
}
