.About {
  position: relative;
  height: 100%;
}

.AboutPanel {
  background-color: var(--mui-palette-background-default);
  display: flex;
}

.AboutPanel-menu {
  width: 250px;
}

.AboutPanel-menuItem {
  &.is-selected {
    background-color: var(--mui-palette-primary-main);
  }
}

.AboutPanel-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
