@import "../../../vars.css";

.OverlayHeaderClose {
  cursor: pointer;
  text-align: center;
  width: var(--overlay-header-close-size);
  height: var(--overlay-header-close-size);
  padding: 12px;

  &-icon {
    font-size: 32px;
    line-height: var(--overlay-header-close-size);
  }
}
