@import "../../../vars.css";
@import "./Close.css";

.OverlayHeader {
  background: var(--background-color);
  height: var(--header-height);
}

.OverlayHeader-title {
  float: left;
  height: 100%;
  padding-top: 17px;
  font-size: 10pt;
  text-align: center;

  /* max width = 300px */
  width: 33%;
  @media (min-width: 1200px) {
    width: 300px;
  }
}

.OverlayHeader-content {
  float: left;
  height: 100%;
  width: calc(100% - 33% - var(--overlay-header-close-size));
  @media (min-width: 1200px) {
    width: calc(100% - 300px - var(--overlay-header-close-size));
  }
}

.OverlayHeader-close {
  float: left;
}
