.OverlayHeader {
  background: var(--mui-palette-background-default);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}

.OverlayHeader-title {
  height: 100%;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  width: 33%;

  @media (min-width: 1200px) {
    width: 300px;
    flex-grow: 0;
  }
}

.OverlayHeader-content {
  flex-grow: 1;
  height: 100%;
}

.OverlayHeader-close {
  flex-shrink: 0;
  height: 100%;
  width: var(--overlay-header-close-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
