@import url("./NextMedia.css");
@import url("./SettingsButton.css");
@import url("./SkipButton.css");
@import url("./UserInfo.css");
@import url("./Responses/index.css");
@import url("./WaitlistButton.css");

.FooterBar {
  display: flex;
  justify-content: space-between;
  z-index: 20; /* on top of overlays */
  background: var(--mui-palette-background-default);
}

.FooterBar-guest {
  font-size: 12pt;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-grow: 1;
}

.FooterBar-user {
  height: 100%;
  width: 75px;
  flex-shrink: 0;
}

.FooterBar-next {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--background-hover-color);
  }
}

.FooterBar-responses {
  height: 100%;
  flex-shrink: 0;
}

.FooterBar-responses--spaced {
  padding-right: 1rem;
}

.FooterBar-skip {
  height: 100%;
  padding-right: 0.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.FooterAuthButton {
  width: 125px;
  height: 100%;
  color: var(--mui-palette-text-primary);
  font-size: 12pt;
}

.FooterAuthButton--register {
  background: var(--mui-palette-background-default);

  &:hover {
    background: var(--background-hover-color);
  }
}
