@import "../../vars.css";
@import "./NextMedia.css";
@import "./UserInfo.css";
@import "./Responses/index.css";

.FooterBar {
  display: flex;
  justify-content: space-between;
  z-index: 20; /* on top of overlays */
  border-top: 1px solid var(--chat-border-color);
  background: var(--background-color);
}

.FooterBar-guest {
  font-size: 12pt;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-grow: 1;
}

.FooterBar-user {
  height: 100%;
  width: 75px;
}

.FooterBar-next {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.FooterBar-responses {
  height: 100%;
}

.FooterBar-responses--spaced {
  padding-right: 1rem;
}

.FooterBar-skip {
  height: 100%;
  padding-right: 0.5rem;
}

.FooterBar-join {
  font-size: 12pt;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 125px;
  background: var(--highlight-color);
  cursor: pointer;
}

.FooterBar-join--locked {
  width: 140px;
}

.FooterAuthButton {
  width: 125px;
  height: 100%;
  border: 0;
  border-right: 1px solid var(--chat-border-color);
  display: block;
  float: left;
  text-align: center;
  cursor: pointer;
  color: var(--text-color);
  font-size: 12pt;
}

.FooterAuthButton--login {
  background: var(--background-color);
  &:hover {
    background: var(--background-hover-color);
  }
}

.FooterAuthButton--register {
  background: var(--highlight-color);
  &:hover {
    background: var(--highbright-color);
  }
}
