@import "../../vars.css";
@import "./NextMedia.css";
@import "./SkipButton.css";
@import "./SkipReasonsList.css";
@import "./UserInfo.css";
@import "./Responses/index.css";

.FooterBar {
  display: flex;
  justify-content: space-between;
  z-index: 20; /* on top of overlays */
  border-top: 1px solid var(--chat-border-color);
  background: var(--background-color);
}

.FooterBar-guest {
  font-size: 12pt;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  flex-grow: 1;
}

.FooterBar-user {
  height: 100%;
  width: 75px;
  flex-shrink: 0;
}

.FooterBar-next {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.FooterBar-responses {
  height: 100%;
  flex-shrink: 0;
}

.FooterBar-responses--spaced {
  padding-right: 1rem;
}

.FooterBar-skip {
  height: 100%;
  padding-right: 0.5rem;
  flex-shrink: 0;
}

.FooterBar-join {
  font-size: 12pt;
  float: right;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 125px;
  background: var(--highlight-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 11pt;
  text-transform: uppercase;
  /* Align multiline button text nicely. Good for languages where "Join Waitlist"
   * becomes a longer phrase, especially. */
  line-height: 24px;
  padding: 8px 4px;

  &:hover {
    background: var(--highbright-color);
  }
}

.FooterBar-join--locked {
  width: 140px;
  color: color(var(--text-color) alpha(* 70%));
}

.FooterBar-joinIcon {
  width: 1em;
  height: 1em;
  color: var(--text-color);
}
.FooterBar-joinIcon--locked {
  color: color(var(--text-color) alpha(* 70%));
}

.FooterAuthButton {
  width: 125px;
  height: 100%;
  border: 0;
  border-right: 1px solid var(--chat-border-color);
  display: block;
  float: left;
  text-align: center;
  cursor: pointer;
  color: var(--text-color);
  font-size: 12pt;
}

.FooterAuthButton--login {
  background: var(--background-color);
  &:hover {
    background: var(--background-hover-color);
  }
}

.FooterAuthButton--register {
  background: var(--highlight-color);
  &:hover {
    background: var(--highbright-color);
  }
}
