@import "../../vars.css";
@import "./NextMedia.css";
@import "./UserInfo.css";
@import "./Responses";

@component FooterBar {
  display: flex;
  justify-content: space-between;
  z-index: 20; /* on top of overlays */
  border-top: 1px solid $chat-border-color;
  background: $background-color;

  @descendent guest {
    font-size: 12pt;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex-grow: 1;
  }

  @descendent user {
    height: 100%;
    width: 75px;
  }

  @descendent next {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
  }

  @descendent responses {
    height: 100%;
    @modifier spaced {
      padding-right: 1rem;
    }
  }

  @descendent skip {
    height: 100%;
    padding-right: 0.5rem;
  }

  @descendent join {
    font-size: 12pt;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 125px;
    background: $highlight-color;
    cursor: pointer;

    @modifier locked {
      width: 140px;
    }
  }
}

@component FooterAuthButton {
  width: 125px;
  height: 100%;
  border: 0;
  border-right: 1px solid $chat-border-color;
  display: block;
  float: left;
  cursor: pointer;
  color: #fff;
  font-size: 12pt;

  @modifier login {
    background: $background-color;
    &:hover {
      background: $background-hover-color;
    }
  }

  @modifier register {
    background: $highlight-color;
    &:hover {
      background: $highbright-color;
    }
  }
}
