@import "../../vars.css";

.NextMedia {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: var(--muted-text-color);
  font-size: 11pt;
  padding: 7px;

  &:hover {
    background-color: var(--background-hover-color);
  }

  &-playlist {
    color: var(--text-color);
  }
}
