@import "vars.css";

@component NextMedia {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: $muted-text-color;
  font-size: 11pt;
  padding: 7px;

  &:hover {
    background-color: $background-hover-color;
  }

  @descendent playlist {
    color: $text-color;
  }
}
