@import "../../vars.css";

.UserInfo {
  width: 100%;
  height: 100%;
  padding: 4px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: var(--background-hover-color);
  }
}

.UserInfo-avatar {
  width: 48px;
  height: 48px;
  margin: auto;
  display: block;
}

.UserInfo-settings {
  position: absolute;
  bottom: 4px;
  right: 3px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 2px solid var(--background-color);
  background: var(--background-color);
}

.UserInfo-settingsIcon {
  width: 100%;
  height: 100%;
}
