@import url("./VideoDisabledMessage.css");

.MainView {
  --app-bar-height: 56px;

  height: 100%;
  position: relative;
}

.MainView-appBar {
  z-index: 5;
  height: var(--app-bar-height);
}

.MainView-title {
  overflow: hidden;
  flex-grow: 1;
}

.MainView-content {
  height: calc(100% - var(--app-bar-height));
}

@media (width >= 600px) {
  .MainView {
    --app-bar-height: 64px;
  }
}
