@import "./VideoDisabledMessage.css";

.MainView {
  height: 100%;
  position: relative;
}

.MainView-appBar {
  z-index: 5;
}

.MainView-title {
  overflow: hidden;
  flex-grow: 1;
}

.MainView-content {
  height: calc(100% - 56px);
}
