:root {
  --tab-text-color: #fff;
}

.SidePanel-indicator {
  background-color: var(--tab-text-color);
}

.SidePanel-tab {
  color: var(--tab-text-color);
  height: var(--header-height);
  min-width: 0;

  &.Mui-selected {
    color: var(--tab-text-color);
  }
}

.SidePanel-tabLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SidePanel-panel {
  visibility: hidden;
  opacity: 0;

  &.is-selected {
    visibility: visible;
    opacity: 1;
  }
}
