:root {
  --tab-text-color: #fff;
}

.SidePanels {
  position: relative;
}

.SidePanel-indicator {
  background-color: var(--tab-text-color);
}

.SidePanel-tab {
  color: var(--tab-text-color);
  height: var(--header-height);
  min-width: 0;

  &.Mui-selected {
    color: var(--tab-text-color);
  }
}

.SidePanel-tabLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SidePanel-panel {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  /* FIXME Ideally this should just be done correctly with the AppRow--middle flexbox styles,
   * but for long users lists, that doesn't appear to work correctly… */
  height: calc(100vh - var(--header-height));
  top: var(--header-height);
  width: 100%;

  &.is-selected {
    visibility: visible;
    opacity: 1;
  }
}
