@component SidePanel {
  @descendent tab {
    /* material-ui needs box-sizing: content-box on an element that is not
     * inline-styleable :( */
    > div {
      box-sizing: content-box;
      /* OK please don't hurt me :( */
      height: auto !important;
      padding: 0 !important;
    }

    @descendent guests {
      margin-left: 5px;
      font-size: 80%;
      color: #777;
    }
  }

  @descendent panel {
    visibility: hidden;
    opacity: 0;

    @when visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
