@import "../../vars.css";

.SidePanel-tab {
  /* material-ui needs box-sizing: content-box on an element that is not
   * inline-styleable :( */
  > div {
    box-sizing: content-box;
    /* OK please don't hurt me :( */
    height: auto !important;
    padding: 0 !important;
  }
}

.SidePanel-panel {
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}
