.src-youtube-Player {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.src-youtube-Player--small,
.src-youtube-Player--preview {
  margin: auto;
  width: 640px;
  height: 360px;
}
