:root {
  --yt-import-button-width: 54px;
}

.src-youtube-PlaylistRow {
  grid-template-columns: var(--media-row-thumb-width) auto var(--yt-import-button-width);
}

.src-youtube-PlaylistRow-info {
  line-height: 1.4;
}

.src-youtube-PlaylistRow-name {
  margin: 5px 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.src-youtube-PlaylistRow-size {
  font-size: 85%;
  color: #777;
}

.src-youtube-PlaylistRow-import {
  height: 100%;
  line-height: 1; /* .MediaListRow sets this to 54px but we don't need that */
}
