@import "../../vars.css";

$yt-import-button-width: 54px;

@component-namespace yt-import {
  @component PlaylistRow {
    @descendent info {
      height: 100%;
      line-height: 1.4;
      float: left;
      width: calc(100% - $media-list-thumb-width - $media-list-spacing - $yt-import-button-width);
      margin-right: $media-list-spacing;
    }

    @descendent name {
      margin: 5px 0 3px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @descendent size {
      font-size: 85%;
      color: #777;
      float: left;
    }

    @descendent import {
      height: 100%;
      line-height: 1; /* .MediaListRow sets this to 54px but we don't need that */
      float: left;
      width: $yt-import-button-width;
    }
  }
}
