.LoginForm-forgot {
  text-align: center;
}

.LoginForm-forgotLink {
  color: var(--link-color);
  cursor: pointer;
  font-size: 10pt;
}

.AvatarList--avatar {
  vertical-align: middle;
  margin-right: 9px;
}
