@import "../../../vars.css";

.AdminMotd {
  width: 400px;
}

.AdminMotd-field {
  border: 1px solid var(--chat-border-color);
  background: #222222;
  color: var(--text-color);
  width: 100%;
  padding: 4px;
  margin: -5px;
}
