@import "vars.css";

@component SoundCloudPlayer {
  width: 400px;
  margin: auto;
  height: 300px;
  background: $background-color;

  @descendent art {
    width: 100px;
    height: 100px;
    margin: 20px 150px;
  }

  @descendent original {
    font: 14pt $text-color;
  }

  @descendent soundcloud {
    background: url(assets/img/soundcloud.png);
  }
}
