.VideoBackdrop {
  position: absolute;
  z-index: 3;
  /* sorta hacky center positioning */
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);

  min-width: 100%;
  min-height: 100%;

  &--blurry {
    filter: blur(1em);
  }
}
