@component App {
  font-family: Open Sans, sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #777;
  color: #fff;

  @descendent middle {
    position: absolute;
    top: 56px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
}

/* TODO proper BEM once we finish designing a layout */
.left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 75%;
}
.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
}
