@component App {
  font-family: Open Sans, sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #151515;
  color: #fff;

  @descendent middle {
    position: absolute;
    top: 56px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
}

@component AppColumn {
  position: absolute;
  height: 100%;

  @modifier left {
    width: 75%;
    left: 0;
  }
  @modifier right {
    width: 25%;
    right: 0;
  }
}

@component AppRow {
  position: absolute;
  left: 0;
  right: 0;
  clear: both;

  @modifier top {
    height: 56px;
    top: 0;
  }
  @modifier middle {
    top: 56px;
    bottom: 60px;
  }
  @modifier bottom {
    height: 60px;
    bottom: 0;
  }
}
