@import "vars.css";

@component FooterBar {
  height: 100%;
  box-sizing: border-box;
  border-top: 1px solid $chat-border-color;
}

@component NextMedia {
  color: $muted-text-color;
  font-size: 11pt;
  padding: 8px;

  @descendent playlist {
    color: $text-color;
  }
}

@component Eta {
}
