@component HeaderBar {
  height: 100%;

  @descendent title {
    float: left;
    width: 210px;
    margin: 0;
    line-height: 56px;
    background-image: url(https://i.imgur.com/nb8ibxk.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: auto 36px;
    font-size: 0;
  }

  @descendent volume {
    margin: 15px;
    height: 26px;
    float: right;
  }

  @descendent now-playing {
    margin: 15px 0 0 100px;
    float: left;
    max-width: 50%;
  }
}

@component NowPlaying {
  font-size: 14pt;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
