@import "vars.css";

@component HeaderBar {
  position: relative;
  height: 100%;
  width: 100%;

  @descendent title {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    margin: 0;
    line-height: 56px;
    background-image: url(assets/img/logo-white.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: auto 36px;
    font-size: 0;
  }

  @descendent volume {
    margin: 15px;
    height: 26px;
    float: right;
  }

  @descendent now-playing {
    position: absolute;
    top: 5px;
    left: 250px;
    right: 200px;
    line-height: 25px;
  }

  @descendent progress {
    position: absolute;
    bottom: 1px;
    height: 2px;
    width: 100%;
  }
}

@component Progress {
  @descendent fill {
    background: $highlight-color;
    height: 100%;
    transition: width 1s;
  }
}
