@import "vars.css";

@component PlaylistManager {
  @descendent menu {
    width: 33%;
    float: left;
  }
  @descendent panel {
    position: absolute;
    left: 33%;
    right: 0;
  }
}

@component PlaylistMenu {
  background: hexa($background-color, 0.96);
  height: 100%;
}

@component PlaylistMenuRow {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  cursor: pointer;

  &:nth-child(2n+1) {
    background: hexa($muted-text-color, 0.3);
  }
}

@component PlaylistPanel {
  background: hexa($background-color, 0.96);
  height: 100%;

  @descendent meta {
    height: 54px;
    line-height: 54px;
  }
}
