@import "vars.css";

@component PlaylistManager {
  z-index: 10;

  @descendent menu {
    width: 33%; /* 25% of total screen width */
    float: left;

    /* menu would be larger than 300px */
    @media (min-width: 1200px) {
      width: 300px;
    }
  }
  @descendent panel {
    position: absolute;
    left: 33%;
    right: 0;

    /* menu would be larger than 300px */
    @media (min-width: 1200px) {
      left: 300px;
    }
  }
}

@component PlaylistMenu {
  background: hexa($background-color, 0.96);
  height: 100%;
  overflow-y: auto;
}

@component PlaylistMenuRow {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  cursor: pointer;

  @descendent active-icon {
    display: block;
    float: left;
    width: 24px;
    height: 44px;
    line-height: 44px;
    margin-right: 7px;
  }

  @descendent loading {
    width: 24px;
    height: 24px;
    float: left;
    margin: 10px 7px 10px 0;
  }

  @descendent count {
    float: right;
    color: $highlight-color;
    margin-right: 5px;
  }

  @modifier create {
    background-color: $highlight-color;
  }

  @when selected {
    background: hexa($muted-text-color, 0.3);
  }
}

@component PlaylistPanel {
  background: hexa($background-color, 0.96);
  height: 100%;

  @descendent loading {
    margin: auto;
    width: 25%;
  }

  @descendent media {
    height: calc(100% - 54px);
  }
}

@component SearchResults {
  @descendent query {
    height: 54px;
    line-height: 54px;
    font-size: 14pt;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@component PlaylistMeta {
  height: 54px;
  line-height: 54px;
  font-size: 14pt;

  @descendent name {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @descendent active {
    cursor: pointer;
    padding: 4px;
    line-height: 46px /* 54px - 2×4px */;
    box-sizing: border-box;
    height: 100%;
    margin-left: 70%;
    width: 20%;
    text-align: center;
  }
  &--active &-active {
    cursor: default;
  }

  @descendent active-icon {
    /* TODO Align with "Active" font bottom somehow? */
    font-size: 100%;
    margin-right: 5px;
  }
}
