$text-color: #fff;
$muted-text-color: #303036;
$background-color: #151515;
$background-hover-color: #111;
$highlight-color: #9d2053;

$footer-border-color: $muted-text-color;

$chat-background-color: #1b1b1b;
$chat-background-color2: #222222;
$chat-border-color: $footer-border-color;
