@import "vars.css";

@component Overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 6;
  overflow: hidden;

  @modifier from-bottom {
    top: auto;
    bottom: 0;
  }
  @modifier from-top {
    top: 0;
    bottom: auto;
  }

  /* Animations!.. */
  @descendent enter {
    height: 0%;
    &-active {
      transition: height 180ms ease-out;
      height: 100%;
    }
  }
  @descendent leave {
    height: 100%;
    &-active {
      transition: height 180ms ease-in;
      height: 0%;
    }
  }
}
