@import "./Header/index.css";

.Overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 8;
}

.Overlay--from-bottom {
  top: auto;
  bottom: 0;
}
.Overlay--from-bottom .Overlay-body {
  transform: translateY(100%);
}
.Overlay--from-top {
  top: 0;
  bottom: auto;
}
.Overlay--from-top .Overlay-body {
  transform: translateY(-100%);
}

.Overlay-body {
  height: 100%;
  height: 100vh;
}

.Overlay-content {
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0;
  right: 0;

  @media (max-width: 768px) {
    bottom: 0;
  }
}

.Overlay-loading {
  background: color(var(--background-color) alpha(* 96%));
}

/* Animations!.. */

/* Enable transitions during enter/exit. */
.Overlay-enter,
.Overlay-exit {
  overflow-y: hidden;
}
.Overlay-enter .Overlay-body {
  transition: transform 180ms ease-out;
}
.Overlay-exit .Overlay-body {
  transition: transform 180ms ease-in;
}
/* The target (open) state. */
.Overlay-enter-active .Overlay-body,
.Overlay-enter-done .Overlay-body {
  transform: translateY(0);
}
