@import "vars.css";

@component Overlay {
  /* Animations!.. */
  @descendent enter {
    transform: translateY(100%);
    &-active {
      transform: translateY(0%);
      transition: transform 180ms ease-out;
    }

    &.Overlay--from-top {
      transform: translateY(-100%);
    }
  }
  @descendent leave {
    transform: translateY(0%);
    &-active {
      transform: translateY(100%);
      transition: transform 180ms ease-in;

      &.Overlay--from-top {
        transform: translateY(-100%);
      }
    }
  }
}
