.MobileMediaRow {
  position: absolute;
}

.MobileMediaRow-artist,
.MobileMediaRow-title {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MobileMediaRow-artist {
  color: rgb(255 255 255 / 80%);
}
