/* material-ui tooltips always uses a 48px reference frame, for some reason.
 * These styles fake a 48px element for material-ui. */

:root {
  --mui-tooltip-reference-width: 48px;
}

.u-TooltipFix {
  position: absolute;
  width: var(--mui-tooltip-reference-width);
  left: calc(50% - (var(--mui-tooltip-reference-width) / 2));
  top: 0;
}
