@import "normalize.css";

@import "./components/index.css";
@import "./sources/index.css";
@import "./containers/DragLayer.css";

/* None of our buttons have a use for browser defaults! */
button {
  color: inherit;
  background: initial;
  border: initial;
  text-align: initial;
  -webkit-appearance: initial;
  &:focus {
    outline: initial;
  }
}
