@import "normalize.css";
@import "@openfonts/open-sans_all";
@import "./vars.css";
@import "./components/index.css";
@import "./sources/index.css";
@import "./containers/DragLayer.css";
@import "./mobile" (max-width: 768px);

/* None of our buttons have a use for browser defaults! */
button {
  color: inherit;
  background: initial;
  border: initial;
  text-align: initial;
  appearance: initial;

  &:focus {
    outline: initial;
  }
}
