<%
  const loading = htmlWebpackPlugin.options.loadingScreen &&
    await htmlWebpackPlugin.options.loadingScreen(compilation);
%>
<!DOCTYPE html>
<!-- lang/dir will be overwritten with user configuration at runtime. -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title || 'üWave' %></title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>
    <link rel="manifest" href="/manifest.json">
    <link rel="dns-prefetch" href="https://www.youtube.com">
    <link rel="dns-prefetch" href="https://i.ytimg.com">
    <style id="jss"><%= loading ? loading.css : '' %></style>
  </head>
  <body>
    <div id="app">
      <!-- React App goes here. -->
    </div>
    <div id="app-loading">
      <% if (loading) { %>
        <%- loading.html %>
      <% } else { %>
        <!-- Loading screen -->
      <% } %>
    </div>
    <script id="u-wave-config" type="application/json">{}</script>
  </body>
</html>
