:root {
  /* Global colours */
  --text-color: #fff;
  --secondary-text-color: rgba(255, 255, 255, 0.7);
  --muted-text-color: rgba(255, 255, 255, 0.5);
  --background-color: #151515;
  --background-hover-color: #111;
  --highlight-color: #9d2053;
  --highbright-color: #b20062;
  --scrollbar-color: #5f5f5f;
  --canvas-color: #303030;
  --divider-color: rgba(255, 255, 255, 0.12);

  /* Link colors */
  --link-color: #c72e6c;
  --link-visited-color: var(--link-color);

  /* Sizes */
  --header-height: 56px;
  --footer-height: 60px;

  /* Footer colours */
  --footer-border-color: #303036;

  /* Overlay colours & sizes */
  --overlay-header-close-size: var(--header-height);

  /* Chat colours */
  --chat-background-color: #1b1b1b;
  --chat-border-color: var(--footer-border-color);

  /* User related colours */
  --user-list-color: #1b1b1b;
  --user-list-alternate-color: #222222;

  /* Playlist colours & sizing */
  --media-list-spacing: 3%;
  --media-list-thumb-width: 85px;
  --media-list-duration-width: 70px;
  --media-list-color: transparent;
  /* TODO Name this in some other way. It's used as the menu item focus colour
   * in various places. */
  --media-list-alternate-color: color-mod(#303036 alpha(* 30%));

  /* Settings panel colours */
  --settings-help-text-color: #aaa;

  /* Form colours & sizes */
  --forms-element-margin: 16px;
  --forms-textfield-size: 50px;

  /* Misc computed */
  /* We can't use color-mod(var()) because var()s are preserved. Instead these values are hardcoded. */
  /* In modern browsers with var() support, these values are defined in src/utils/createTheme.js. */
  --selected-media-row-color: color-mod(#9d2053 alpha(* 70%));
  --chat-suggestion-selected: color-mod(#fff  alpha(* 10%));
  --overlay-background: color-mod(#151515 alpha(* 96%));
  --soundcloud-meta-background: color-mod(#151515 alpha(* 30%));
  --waitlist-locked-text-color: color-mod(#fff alpha(* 70%));
  --chat-timestamp-text-color: color-mod(#fff blend(#777777 33%));
}
