/* Global colours */
$text-color: map(theme, palette, textColor);
$muted-text-color: map(theme, palette, alternateTextColor);
$background-color: map(theme, palette, backgroundColor);
$background-hover-color: map(theme, palette, backgroundHighlightColor);
$highlight-color: map(theme, palette, primary1Color);
$highbright-color: map(theme, palette, primary2Color);
$scrollbar-color: #5f5f5f;

$link-color: map(theme, palette, linkColor);

$logo-url: map(logoUrl);

/* Sizes */
$header-height: 56px;
$footer-height: 60px;

/* Footer colours */
$footer-border-color: #303036;

/* Overlay colours & sizes */
$overlay-header-close-size: $header-height;

/* Chat colours */
$chat-background-color: map(theme, palette, chatColor);
$chat-background-color2: map(theme, palette, chatColorAlternate);
$chat-border-color: $footer-border-color;

/* User related colours */
$user-list-color: map(theme, palette, chatColor);
$user-list-alternate-color: map(theme, palette, chatColorAlternate);

/* Playlist colours & sizing */
$media-list-spacing: 3%;
$media-list-thumb-width: 85px;
$media-list-duration-width: 70px;
$media-list-color: transparent;
$media-list-alternate-color: color(#303036 alpha(* 30%));

/* Form colours & sizes */
$forms-element-margin: 16px;
$forms-textfield-size: 50px;
