@import "vars.css";

@component PanelButton {
  cursor: pointer;
  float: left;
  height: 100%;
  width: calc(100% / 3);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  @modifier active {
    background: #222;
  }
}
