@import "vars.css";

@component PanelSwitcher {
  width: 100%;
  height: 100%;
  font-size: 10pt;

  @descendent highlight {
    transition: left 150ms;
    position: absolute;
    width: calc(100% / 3);
    height: 3px;
    bottom: 0;
    background: #fff;
  }
}
