@import "../../../vars.css";

@import "./ImportPanel.css";
@import "./ImportPanelHeader.css";
@import "./ImportSourceBlock.css";

@component PlaylistImport {
  height: 100%;
  background: var(--background-color);

  @descendent source {
    padding: 16px;
    width: 50%;
  }
}
