@import "../../../vars.css";

@import "./ImportPanel.css";
@import "./ImportPanelHeader.css";
@import "./ImportSourceBlock.css";

.PlaylistImport {
  height: 100%;
  background: var(--background-color);
  overflow: auto;
}

.PlaylistImport-source {
  padding: 16px;
  width: 50%;
}
