@import url("./ImportPanel.css");
@import url("./ImportPanelHeader.css");
@import url("./ImportSourceBlock.css");

.PlaylistImport {
  height: 100%;
  background: var(--background-color);
  overflow: auto;
}

.PlaylistImport-source {
  padding: 16px;
  width: 50%;
}
