@import url("./Dialog.css");
@import url("./ConfirmDialog/index.css");
@import url("./EditMediaDialog/index.css");
@import url("./LoginDialog/index.css");
@import url("./PreviewMediaDialog/index.css");

.Dialogs {
  z-index: 100;
  position: absolute;
  width: 0;
  height: 0;
}
