@import "./Dialog.css";
@import "./ConfirmDialog";
@import "./EditMediaDialog";
@import "./LoginDialog";
@import "./PreviewMediaDialog";

.Dialogs {
  z-index: 100;
  position: absolute;
  width: 0;
  height: 0;
}
