@import "../../../vars.css";

.NowPlayingMessage {
  color: var(--muted-text-color);
  position: relative;
  font-size: 80%;
}

.NowPlayingMessage-time {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--background-color);
  padding: 0 6px;
  height: 100%;
  display: none;

  @nest .NowPlayingMessage:hover & {
    display: block;
  }
}

.NowPlayingMessage-mediaWrap {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:before, &:after {
    content: ' ';
    background: var(--muted-text-color);
    height: 1px;
    flex-grow: 1;
  }

  &:before { margin-right: 6px; }
  &:after { margin-left: 6px; }
}

.NowPlayingMessage-media {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}
