@import "vars.css";

$login-modal-width: 300px;

@component LoginModal {
  position: absolute;
  top: 15%;
  left: 50%;
  width: $login-modal-width;
  max-height: 70%;
  padding: 16px;
  margin-left: calc($login-modal-width / -2);
  z-index: 100;

  border: 1px solid #1f1f21;
  border-radius: 1px;
  background: #303030;
  color: #9f9d9e;
  box-shadow: 0 0 5px $background-color;

  @descendent header {
    margin: 0;
    font-size: 2.125em;
    font-weight: normal;
  }

  /* Animation */
  transition: top 230ms ease-out, opacity 230ms ease-out;
  &-showing {
    &-enter {
      top: 10%;
      opacity: 0;
      &-active {
        opacity: 1;
        top: 15%;
      }
    }

    &-leave {
      top: 15%;
      opacity: 1;
      &-active {
        top: 10%;
        opacity: 0;
      }
    }
  }
}
