.WaitlistRow--moderate {
  display: flex;
}

.WaitlistRow-card {
  flex-grow: 2;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.WaitlistRow-tools {
  float: right;
  height: 100%;
  padding: 5px;
  white-space: nowrap;
}

/* TODO use `&-handle, &-remove` here? */
.WaitlistRow-tool {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 4px;
}

.WaitlistRow-handle {
  cursor: move;
}

.WaitlistRow-remove {
  cursor: pointer;
}

.WaitlistRow--dropAbove {
  padding-top: 40px;
  border-top: 3px solid #fff;
  height: 80px;
}

.WaitlistRow--dropBelow {
  margin-bottom: 40px;
  border-bottom: 3px solid #fff;
}
