@component WaitlistRow {
  @modifier moderate {
    display: flex;
  }

  @descendent card {
    flex-grow: 2;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @descendent tools {
    float: right;
    height: 100%;
    padding: 5px;
    white-space: nowrap;
  }

  /* TODO use `@descendent handle, remove` here when supported by postcss-bem */
  @descendent tool {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 4px;
  }

  @descendent handle {
    cursor: move;
  }
  @descendent remove {
    cursor: pointer;
  }
}
