.WaitlistRow--moderate {
  display: flex;
}

.WaitlistRow-card {
  flex-grow: 2;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Set background colours so it looks OK while dragging. */
.WaitlistRow-card {
  background: var(--user-list-color);
}

.UserList-row--alternate .WaitlistRow-card {
  background: var(--user-list-alternate-color);
}

.WaitlistRow-tools {
  float: right;
  height: 100%;
  padding: 5px;
  white-space: nowrap;
}

/* TODO use `&-handle, &-remove` here? */
.WaitlistRow-tool {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 4px;
}

.WaitlistRow-handle {
  cursor: move;
}

.WaitlistRow-remove {
  cursor: pointer;
}

.WaitlistRow--dropAbove {
  border-top: 3px solid #fff;
}

.WaitlistRow--dropBelow {
  border-bottom: 3px solid #fff;
}
