@import "../../vars.css";

.WaitlistRow {
  &.is-dragging {
    display: none;
  }
}

.WaitlistRow-position {
  float: left;
  text-align: center;
  padding: 0 0 0 7px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 12pt;
}

.WaitlistRow-drop-indicator {
  border-top: 3px solid #fff;
  background: transparent;
  height: 37px;
  width: 100%;
}
