@import "../../vars.css";

.LoadingOverlay {
}

.LoadingOverlay-body {
  background: var(--overlay-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingOverlay-spinner {
  min-width: 250px;
  min-height: 250px;
}
